<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My music</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    
</head>
<body>
<div class="container">
    <header>
        <h1>BluesWaves</h1>
        <nav>
            <a href="/"><i class="fas fa-home"></i> Home</a>
            <a href="/music-files"><i class="fas fa-book"></i> Catalog</a> 
            <a href="/"><i class="fas fa-upload"></i> Upload</a>
        </nav>
    </header>
    <main>
        <h2>Your Music Files</h2>
        
       
        <p style="color: red;" th:text="${errorMessage}"></p>
        
        <!-- Список музыкальных файлов -->
        <div th:if="${musicFiles != null}">
            <ul>
                <li th:each="file : ${musicFiles}">
                    <h3 th:text="${file.name}"></h3>
                    <audio id="audio" controls>
		                <source th:src="${file.webContentLink}" type="audio/mpeg">
		                Your browser does not support the audio tag.
		            </audio>
                </li>
            </ul>
        </div>
    </main>
    
    <footer>
        <p>&copy; 2024 BluesWaves</p>
    </footer>
</div>
</body>
</html>